
body{
    background-color: lightgray;
    
}

.container{
    position: relative;
    width: 600px;
    height: 280px;
    border: 2px solid blue;
    background-color:  #F0F0F0;
    padding: 5px;
}

/* .container > div >div{
    display: inline-block;
    padding: 10px;

} */

h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.yellow-box{
    background-color: yellow;
    float: left;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    /* position: relative;
    top: 5px; */
}

.gray-box{
    /* background-color:lightgray;
    width: 415px;
    padding: 0px; */
    /* border: 2px dashed green; */
}

.mustard-box{
    background-color: orange;
    width: 212px;
    position: absolute;
    top: 200px;
    left: 110px;
}

.red-box{
    background-color: rgb(255, 80, 0);
    color: white;
    width: 200px;
    float: right;
    margin-right:40px ;
    margin-top: 20px;
    /* position: relative;
    left: 120px; */
}